<!DOCTYPE html>
<html lang="en-US">
<head>

</head>
<body class="flex flex-col items-center font-sans md:h-screen md:bg-grey-lightest">
<main class="main">
<section class="h-full w-full p-6 overflow-hidden md:flex md:flex-row md:rounded-lg md:shadow-big">
<div class="px-2 w-full md:px-0 md:mr-6 md:w-1/2">
<a class="flex flex-col items-center justify-center border-2  rounded px-6 py-16 h-full w-full hover:bg-blue hover:text-white text-lg border-dashed border-grey" href="/hide">
Hide </a>
</div>
<div class="px-2 w-full md:px-0 md:mr-6 md:w-1/2">
<a class="flex flex-col items-center justify-center border-2  border-dashed border-grey rounded px-6 py-16 h-full w-full hover:bg-blue hover:text-white text-lg" href="/seek">
Seek </a>
</div>
